@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tomleg');
  src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tomleg') format('truetype'),
    url('../fonts/icomoon.woff?tomleg') format('woff'),
    url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.main {
    width: 980px;
    height: 454px;
    margin: 10px 0 10px 220px;
}
.forcus {
    position: relative;
    overflow: hidden;
    float: left;
    width: 721px;
    height: 100%;
}
.forcus .prev,.forcus .next{
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    font-size: 20px;
    color: #fff;
    background: rgba(255,255,255,.3);

}
.forcus .prev {
    left: -8px;
    border-bottom-right-radius: 19px;
    border-top-right-radius: 19px;
}
.forcus .next {
    right: -8px;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
}
.forcus ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 500%;
    z-index: -2;
}
.forcus ul li {
    float: left;
}
.forcus-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding-left: 0;
    /* margin-left: -35px; */
    /* width: 70px; */
    transform: translateX(-50%);
    height: 13px;
    background: rgba(255, 255, 255, .5);
    border-radius: 7px;
}
.forcus-nav li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 3px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.current {
    background-color: #fff!important;
}
.forcus-nav li:hover {
    cursor: pointer;
    /* background-color: red; */
}
.newsflash {
    float: right;
    width: 251px;
    height: 100%;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news_hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news_hd h5 {
    float: left;
    font-size: 14px;
    color: #494949;
}
.news_hd .more {
    float: right;
    font-size: 14px;
    color: #494949;
}
.news_hd .more::after {
    font-family: 'icomoon';
    content: '';
    margin-left: 5px;
}
.news_bd {
    padding: 5px 15px;
}
.news_bd ul li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.lifemodule {
    overflow: hidden;
    height: 209px;
    margin-bottom: 5px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifemodule ul {
    width: 253px;
}
.lifemodule ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifemodule ul li img {
    position: absolute;
    top: 0;
    right: 0;
}
.lifemodule ul li i {
    display: inline-block;
    margin-top: 10px;
    width: 24px;
    height: 28px;
}
.lifemodule ul li:first-child i {
    background: url(../images/icons.png) no-repeat -16px -17px;
}
.lifemodule ul li:nth-child(2) i {
    background: url(../images/icons.png) no-repeat -79px -16px;
}
.lifemodule ul li:nth-child(3) i {
    background: url(../images/icons.png) no-repeat -142px -16px;
}
.lifemodule ul li:nth-child(4) i {
    background: url(../images/icons.png) no-repeat -206px -16px;
}
.lifemodule ul li:nth-child(5) i {
    background: url(../images/icons.png) no-repeat -17px -88px;
}
.lifemodule ul li:nth-child(6) i {
    background: url(../images/icons.png) no-repeat -77px -88px;
}
.lifemodule ul li:nth-child(7) i {
    background: url(../images/icons.png) no-repeat -142px -88px;
}
.lifemodule ul li:nth-child(8) i {
    background: url(../images/icons.png) no-repeat -207px -87px;
}
.lifemodule ul li:nth-child(9) i {
    background: url(../images/icons.png) no-repeat -16px -158px;
}
.lifemodule ul li:nth-child(10) i {
    background: url(../images/icons.png) no-repeat -79px -158px;
}
.lifemodule ul li:nth-child(11) i {
    background: url(../images/icons.png) no-repeat -141px -154px;
}
.lifemodule ul li:last-child i {
    background: url(../images/icons.png) no-repeat -206px -159px;
}

.lifemodule ul li p {
    margin-top: 1px;
    font-size: 14px;
    color: #666666;
}
.recom {
    height: 163px;
    margin-bottom: 31px;
}
.recom_hd {
    float: left;
    width: 205px;
    height: 163px;
    padding-top: 29px;
    background-color: #5c5251;
    text-align: center;
}
.recom_bd {
    float: left;
    width: 995px;
    height: 163px;
    background-color: #ebebeb;
}
.recom_bd ul li {
    float: left;
}
.recom_bd ul li:hover {
    box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, .3);
}
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}
.fav_hd {
    width: 1200px;
    height: 33px;
}
.fav_hd .fav_hd_l {
    float: left;
    font-size: 18px;
    color: #7d7d7d;
}
.fav_hd .fav_hd_r {
    float: right;
    margin-top: 3px;
    margin-right: 45px;
    font-size: 12px;
    color: #7d7d7d;
}
.fav_hd .fav_hd_r:hover {
    color:#c81623;
    cursor: pointer;
}
.fav_hd .fav_hd_r::after {
    font-family: 'icomoon';
    content: '';
    margin-left: 8px;
}
.fav_bd {
    height: 233px;
    width: 1202px;
    margin-bottom: 30px;
    border: 1px solid #ededed;
}
.fav_bd ul li {
    position: relative;
    float: left;
    width: 200px;
    height: 233px;
}
.fav_bd ul li::after {
    position: absolute;
    right: 0;
    bottom: 10px;
    content: '';
    width: 1px;
    height: 60px;
    background-color: #ededed;
}
.fav_bd ul li i {
    display: block;
    width: 140px;
    height: 129px;
    margin: 0 30px 0 30px;
    text-align: center;

}
.fav_bd ul li img {
    width: 100%;
    height: 100%;
}
.fav_bd ul li:nth-child(3) img {
    width: 37px;
}
.fav_bd ul li:nth-child(4) img {
    height: 62px;
    margin-top: 34px;
}
.fav_bd ul li:nth-child(5) img {
    width: 115px;
}
.fav_bd ul li:last-child img {
    width: 60px;
}
.fav_bd ul li p {
    padding: 0 35px;
    margin-top: 12px;
    line-height: 16px;
    font-size: 12px;
    color: #666666;
}
.fav_bd ul li a {
    display: block;
    width: 100%;
    padding-top: 24px;
}
.fav_bd ul li a:hover {
    box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, .3);
}
.fav_bd ul li h4 {
    font-weight: normal;
    font-size: 18px;
    color: #df3033;
    padding: 0 35px 7px;
}
.fan_hd {
    height: 33px;
}
.fan_hd h4 {
    float: left;
    font-size: 18px;
    color: #6e6e6e;
    font-weight: normal;
}
.fan_bd {
    height: 405px;
    margin-bottom: 28px;
}
.fan_bd>div {
    float: left;
}
.fan_bd div:first-child {
    width: 405px;
}
.fan_bd div:nth-child(2){
    width: 222px;
}
.fan_bd div:nth-child(3){
    width: 410px;
}
.fan_bd div:last-child{
    width: 160px;
}
.jy_hd {
    height: 33px;
    border-bottom: 2px solid #c81623;
}
.jy_hd h3 {
    float: left;
    height: 30px;
    font-size: 18px;
    color: #c81623;
    font-weight: normal;
}
.tab_list {
    float: right;
    padding-top: 5px;
}
.tab_list ul li {
    float: left;
    color: #999999;
    font-size: 12px;
}
.tab_list ul li a {
    margin: 0 15px;
}
.jy_bd {
    margin-bottom: 20px;
}
.tab_list_item1>div {
    float: left;
}
.col210 {
    width: 210px;
    padding-left: 13px;
    background-color: #f9f9f9;
    text-align: center;
}
.col210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ededed;
    margin-right: 13px;
    text-align: center;
    line-height: 34px;
}
.col328 {
    width: 328px;
}
.col220 {
    width: 220px;
    border-left: 1px solid #ccc;
}
.col220 a {
    display: block;
}
.bb {
    border-bottom: 1px solid #ccc;
}
.guanggao {
    margin-bottom: 29px;
    height: 65px;
}
.fq_hd {
    height: 30px;
}
.fq_hd h4 {
    float: left;
    font-size: 18px;
    font-weight: normal;
    color: #5d5d5d;
}
.fq_bd {
    height: 283px;
    border: 1px solid #ccc;
    margin-bottom: 38px;
}
.fq_bd>div {
    float: left;
}
.fq_bd a {
    display: block;
}
.fq_bd1 {
    width: 240px;
}
.fq_bd2 {
    width: 660px;
}
.fq_bd3 {
    width: 298px;
    border-left: 1px solid #ccc;
}
